.popup_adicionarturma {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: white;
    border-radius: 10px;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 100px;
}

.btnfixed {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 30px;
}