#exibicao_questeos {
    display: flex;
    flex-direction: column;
}

#exibicao_questeos h3 {
    color: #777777;
}

#exibicao_questeos h4 {
    color: #777777;
}

.questao {
    background-color: white;
    border-radius: 10px;
    width: 90%;
    margin-inline: auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.questao .displayVF {
    display: flex;
    flex-direction: row;
}

.questao h4 {
    margin-top: 10px;
    margin-bottom: 5px;
    color: #2074d4;
}

.questao h5 {
    margin-top: 10px;
    margin-bottom: 5px;
    color: #555555;
}

.widthVF {
    width: 100%;
}

.questao > span {
    color: #888888;
    font-size: 14px;
    display: block;
}

.questao .svgicon {
    padding: 5px;
}