<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8"/>
        <title></title>
    </head>

    <body>
    <header>
        <div>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="provas.html">Provas</a></li>
                <li><a href="#">Turmas</a></li>
            </ul>
        </div>
    </header>
    <section>
        <a href="/login">Entrar</a>
        <a href="/cadastro">Cadastro</a>
    </section>
    <footer>

    </footer>
    </body>

</html>