<!DOCTYPE HTML>
<html>

    <head>
        <meta charset="UTF-8"/>
        <title></title>
    </head>

    <body>
        <header>
            <div id="header">
                <ul>
                    <li><a href="#">Sobre</a></li>
                    <li><a href="#">Portal do Aluno</a></li>
                    <li><a href="#">Portal do professor</a></li>
                </ul>
            </div>
        </header>
        <section>
            <h2>Bem-vindo</h2>
            <div id="login">
                <form  method="post"  action="/login" id="dados-login">
                    <label for ="email">email:</label>
                    <input id="email "name="email" type="email" ></input>
                    <label for ="senha">senha:</label>
                    <input id="senha" name="senha" type="password" ></input>
                    <button type="submit" >Entrar</button>
                </form>
            </div>
        </section>
        <footer>
            <div></div>
        </footer>
    </body>

</html>